@media screen and (max-width:992px) {
  .self1{
    display:none;
  }
  .self{
    width:50px;
  }
  body{
    font-size:1.25rem;
  }
  .img-custome{
    width:100%;
  }
  .top-30{
    top:0px;
  }
  .align-start{
    align-items: start;
  }
  .align-stretch{
    align-self:stretch;
  }
  .rounded-pill{
    align-self:center;
  }
}